<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BlockChain.Wallet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\temp\Wallet.LOG" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value=".yyyyMMdd'.TXT'" />
			<param name="MaxSizeRollBackups" value="-1" />
			<param name="MaximumFileSize" value="100MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>

 <userSettings>
  <BlockChain.Wallet.Properties.Settings>
   <setting name="IsUpdateBalanceByBackground" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowPosition" serializeAs="String">
    <value />
   </setting>
   <setting name="IsFirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LogUpdateBalance" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AddressSortIsASC" serializeAs="String">
    <value>True</value>
   </setting>
  </BlockChain.Wallet.Properties.Settings>
 </userSettings>
</configuration>