<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockChain.Share.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockChain.Share.Properties.Settings>
            <setting name="UserDbConnectionString" serializeAs="String">
                <value>Data Source=desktop-one\MSSQLSERVER2019;Initial Catalog=WalletDb;Integrated Security=True</value>
            </setting>
            <setting name="EtherSacn" serializeAs="String">
                <value>https://goerli.etherscan.io/</value>
            </setting>
            <setting name="IsErc20ApproveMax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChainId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseLegacyAsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTranslateOnLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value />
            </setting>
            <setting name="MsTranslationKey" serializeAs="String">
                <value>0ae3530fc6474a038493668f70c19beb</value>
            </setting>
            <setting name="MsTranslationLocation" serializeAs="String">
                <value>eastasia</value>
            </setting>
        </BlockChain.Share.Properties.Settings>
    </userSettings>
</configuration>